* {
  box-sizing: border-box;
}

html {
  font-family: 'Unbounded', 'Manrope', 'Literata', sans-serif;
  background-color: #3C5240;
}

.nav{
  background-color: #1E1E1C;
  height: 6.5rem;
}

.nav_lay{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-head{
  display: block;
  color: #ECE9E4;
  text-decoration: none;
  height: 6rem;
  line-height: 6rem;
}

.nav_pic{
  height: 5rem;
  vertical-align: bottom;
  color: #D2A95F;
}

.nav-head:hover .nav_pic{
  filter: drop-shadow(0 0 0.5rem #D2A95F);
}

.button{
  display: inline-block;
  background-color: #C9635A;
  color: #ECE9E4;
  text-decoration: none;
  padding: 0rem 1rem;
  border-radius: 0.7rem;
  text-transform: uppercase;
  line-height: 3.8rem;
}

.button:hover{
  background-color: #D2A95F;
}

.button_pic{
  height: 2rem;
  width: 2rem;
  position: relative;
  top: 0.6rem;
  margin-right: 0.6rem;
}

.main-head{
  text-transform: uppercase;
  text-align: center;
  color: #1E1E1C;
  font-size: 3rem;
  letter-spacing: 0.3em;
  margin-top: 0;
  padding-top: 1rem;
}

.main{
  position: relative;
  overflow: hidden;
  padding-bottom: 2rem;
}

.main::before,
.main::after{
  content: "";
  display: block;
  position: absolute;
  width: 12rem;
  top: -1rem;
  bottom: -1rem;
  background-image: url('../pics/sidedeco.png');
  background-size: cover;
  background-position: right center;
  z-index: -1;
  min-height: 10rem;
}
.main::before {
  left: 0;
}

.main::after {
  right: 0;
  transform: scaleX(-1);
}

.card{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #A3A5A3;
  padding: 0;
  margin-bottom: 3rem;
  border-radius: 1.5rem;
  box-shadow: 0 1rem 2rem #1E1E1C;
}

.card_head{
  color: #1E1E1C;
  margin: 0;
  font-size: 2rem;
}

.card_head::after{
  content: "";
  display: block;
  width: 8rem;
  height: 0.125rem;
  background-color: #3C5240;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card_pic{
  display: block;
  object-fit: cover;
  height: 13rem;
  width: 100%;
  box-shadow: 0rem 0.3rem 1rem #1E1E1C;
}

.card_txt-time{
  color: #3C5240;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}

.card_txt_parag{
  color: #1E1E1C;
  line-height: 1.5rem;
}

.card_txt-container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.6rem;
}

.container{
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .card {
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .card_pic{
    width: 20rem;
    height: 2rem;
    min-height: 100%;
    box-shadow: 0.4rem 0rem 1rem #1E1E1C;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
    margin-left: 7rem;
    margin-right: 7rem;
  }
}

.pagination{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.pagination_link{
  display: block;
  color: #1E1E1C;
  background-color: #D2A95F;
  border: 0.2rem solid #1E1E1C;
  width: 2.5rem;
  height: 2.5rem;
  text-decoration: none;
  line-height: 2.1rem;
  text-align: center;
  margin-left: 0.6rem;
  border-radius: 0.8rem;
}

.pagination_link:hover{
  color: #D2A95F;
  border: 0.2rem solid #D2A95F;
  background-color: #1E1E1C;
}

.pagination_link-active{
  color: #1E1E1C;
  border: 0.2rem solid #1E1E1C;
  background-color: #3C5240;
}

.footer{
  background-color: #1E1E1C;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer::after{
  content: "";
  display: block;
  width: 9.5rem;
  height: 0.125rem;
  background-color: #C9635A;;
  margin: 0 auto;
  margin-top: 3rem;
}

.foot_head{
  color: #C9635A;
}

.foot_txt{
  color: #ECE9E4;
  max-width: 40%;
  line-height: 1.5rem;
}

.formgroup_input,
.formgroup_lable{
  color: #1E1E1C;
  background-color: #ECE9E4;
  border-color: #C9635A;
  border-style: solid;
  border-top-width: 0.140rem;
  border-bottom-width: 0.140rem;
  padding: 1rem 2rem;
  font-weight: bold;
  display: block;
}

.formgroup_lable{
  text-transform: uppercase;
  flex: 0 0 12rem;
  border-left-width: 0.140rem;
  border-right-width: 0rem;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}

.formgroup_input{
  flex: 1 0 12rem;
  border-left-width: 0rem;
  border-right-width: 0.140rem;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.formgroup{
  display: flex;
  margin: 1rem;
}

.form_submit{
  display: flex;
  justify-content: right;
  margin: 1rem;
}
