html {
  font-family: 'Literata', 'Manrope', 'Unbounded', sans-serif;
  background-color: #3C5240;
}

nav{
  background-color: #1E1E1C;
  height: 8rem;
}

.nav-head{
  display: block;
  color: #ECE9E4;
  text-decoration: none;
  height: 6rem;
  line-height: 6rem;
}

.logo{
  height: 5rem;
  vertical-align: bottom;
  color: #D2A95F;
}

.nav-head:hover .logo{
  filter: drop-shadow(0 0 0.5rem #D2A95F);
}
